<%# ヘッダー部分 %>
<%= render "shared/header" %>
<%# /ヘッダー部分 %>

    <%# 画面上部「試合募集一覧」部分%>
<div class="wrapper">
    <section class="home-top">
        <h1 class="head-tittle">高校野球 練習試合マッチ</h1>
        <p class="head-description">
            普段から練習試合を組むことに苦労していませんか？
            <br>このアプリでもっと楽にスケジューリングができるようにしましょう！
        </p>
        <%= link_to '部活登録へ', new_team_path, class: "btn btn-teams" %>
        <%= link_to '練習試合申し込み', root_path, class: "btn btn-practice" %>
    </section>
    <%# /画面上部「試合募集一覧」部分%>

    <%# 画面中部「急募一覧」部分%>
    <section class="home-center">
        <div class="home-text">
            <h2 class="center-tittle">急なキャンセルでも大丈夫！</h2>
            <p class="center-description">
                「コロナの影響で明日の試合がキャンセルになった…」
                <br>このアプリならそんな悩みもすぐに解決できます！
                <br>急なキャンセルの時は、急募一覧ページへ
            </p>
            <a href="help-recruit" class="btn btn-primary">急募一覧をみる</a>
        </div>
    </section>
    <%# /画面中部「急募一覧」部分 %>

    <%# 画面下部「募集一覧」部分 %>
    <section class="home-bottom">
        <div class="home-text">
            <h2 class="bottom-tittle">色んな高校と練習試合を組もう！</h2>
            <p class="bottom-description">
                登録している高校同士でどんどん練習試合を組みましょう！
                <br>色んな高校と試合をすることで、新しい発見も生まれるはず…。
                <br>練習試合を募集している高校一覧は、下記のページへ
            </p>
            <a href="recruit" class="btn btn-primary">募集一覧をみる</a>
        </div>
    </section>
    <%# フッター部分 %>
    <%= render "shared/footer" %>
    <%# /フッター部分 %>
</div>


