section{
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: yellow;
  background-blend-mode: darken;
}

/* Button */
.btn-primary{
  font-size: 1.5rem;
  background-color: blue;
  color: #fff;
  border-radius: 5px;
  padding: 18px 32px;
  text-decoration: none;
}

.btn-primary:hover{
  background: cadetblue;
}

.btn-teams{
  font-size: 1.5rem;
  background-color: red;
  color: #fff;
  border-radius: 5px;
  padding: 18px 32px;
  text-decoration: none;
}

.home-top{
  background-image: image-url('header_main.png');
  text-align: center;
  padding-top: 10vh;
}

.head-tittle{
  font-size: 10vh;
  color: orange;
  padding: 0.5em;
  background: rgba(255,255,255,.9);
  display: inline-block;
  border: solid 3px #364e96;
  border-radius: 0.5em;
}

.head-description{
  font-weight: bold;
  font-size: 5vh;
  color: black;
  background: rgba(255,255,255,.5);
  
}

.home-center{
  background-image: image-url('center_img.png');
  text-align: center;
  padding-top: 10vh;
}

.center-tittle{
  font-size: 8vh;
  color: black;
  padding: 0.5em;
  background: rgba(255,255,255,.4);
  display: inline-block;
  border-left: solid 5px blue;
}

.center-description{
  font-weight: bold;
  font-size: 5vh;
  color: white;
  background: rgba(255,255,255,.2);
}

.home-bottom{
  background-image: image-url('bottom_img.png');
  text-align: center;
  padding-top: 10vh;
}

.bottom-tittle{
  font-size: 8vh;
  color: black;
  padding: 0.5em;
  background: rgba(255,255,255,.4);
  display: inline-block;
  border-left: solid 5px blue;
}

.bottom-description{
  font-weight: bold;
  font-size: 5vh;
  color: blue;
  background: rgba(255,255,255,.2);
}

/* タブレット対応 */
@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 48%;
    margin-bottom: 40px;
  }
  .prototype_image{
    width: 60%;
  }
}

 /* スマホ表示 */
@media (max-width: 599px) {
  .logo {
    width: 120px;
  }
  .page-heading {
    font-size: 20px;
  }
  .card {
    width: 100%;
    margin-bottom: 60px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }
  .prototype_image{
    width: 100%;
  }
  .table{
    width: 100%;
  }
}