/* --- Animation --- */
@keyframes fadeIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
/* --- Section --- */
section{
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: yellow;
  background-blend-mode: darken;
}

/* Button */
.btn{
  font-size: 1.5rem;
  color: #fff;
  border-radius: 50%;
  padding: 20px 20px;
  text-decoration: none;
}
.btn:hover{
  background: rgb(255, 76, 76);
}

.btn-teams{
  background-color: skyblue;
  margin-right: 40px;
}

.btn-practice{
  background-color: yellowgreen;
  margin-right: 40px;
}

.btn-recruit{
  background-color: pink;
  margin-right: 40px;
}

/* TOP-PAGE*/

.home-top{
  background-image: image-url('header_main.png');
  text-align: center;
  padding-top: 10vh;
  opacity: 0;
  animation: fadeIn 2s linear;
  animation-fill-mode: both;
}

.head-tittle{
  font-size: 10vh;
  color: orange;
  padding: 0.5em;
  background: rgba(255,255,255,.9);
  display: inline-block;
  border: solid 3px #364e96;
  border-radius: 0.5em;
}

.head-description{
  font-weight: bold;
  font-size: 5vh;
  color: black;
  background: rgba(255,255,255,.5);
}


.home-center{
  background-image: image-url('IMG_1655.png');
  text-align: center;
  padding-top: 10vh;
}

.center-tittle{
  font-size: 8vh;
  color: black;
  padding: 0.5em;
  background: rgba(255,255,255,.4);
  display: inline-block;
  border-left: solid 5px blue;
  opacity: 1;
  animation: fadeIn 3s linear;
  animation-fill-mode: both;
}

.center-description{
  font-weight: bold;
  font-size: 5vh;
  color: white;
  background: rgba(255,255,255,.2);
}

.home-bottom{
  background-image: image-url('IMG_0545.png');
  text-align: center;
  padding-top: 3vh;
}

.search-text{
  width: 100%;
  text-align: center;
}

.bottom-tittle{
  font-size: 7vh;
  color: white;
  font-weight: bold;
}


/* チーム一覧 */
.team-page{
  background-image: image-url('team-page.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: yellow;
  display: flex;
  justify-content: center;
}

.team-tittle{
  font-size: 5vh;
  font-style: italic;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  opacity: 1;
  animation: fadeIn 3s linear;
  animation-fill-mode: both;
}

.team-lists{
  list-style: none;
  font-size: 4vh;
  padding: 0;
  margin: 30 10 20 0;
  display: flex;
  justify-content: center;
}

.team-list{
  border-style: none;
  color: snow;
  text-decoration: none;
  margin: 0 20px 10px 20px;
}

.list :hover{
  color: red;
}

 /* スマホ表示 */
@media (max-width: 599px) {
  section{
    width: 40%;
    height: 90%;
    font-size: 20px;
  }
  
  .home-top{
    font-size: 20px;
  }
  
  .head-title{
    font-size: 20px;
  }
  
  .home-text {
    font-size: 18px;
  }

}