.main{
  width: 100%;
  height: 100%;
  background-size: 20px 20px;
  background-image: repeating-linear-gradient(45deg, #ffc107 0, #ffc107 2px, #ffe9a7 0, #ffe9a7 50%);
}

}

.inner{

}

.team_wrapper{
  
}

.team_manage{
  
}

.btn-team{

}
.btn-team:hover{
  
}

.team_detail{
  
}

.detail__title{
  
}

.detail__message{
  
}
