.main{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: cornsilk;
}

.inner{
  text-align: center;
}

.team_wrapper{
  width: 100%;
}

.team_manage{
  margin: 20px 0 20px 0;
}

.btn-team{
  margin: 0 10px 0 10px;
  font-size: 1.0rem;
  background-color: blue;
  color: #fff;
  border-radius: 5px;
  padding: 18px 32px;
  text-decoration: none;
}

.btn-team:hover{
  background-color: cornflowerblue;
}

.team_detail{
  width: 100%;
}

.detail__title{
  width: 100%;
  font-size: 30px;
  margin: 0 auto;
  padding: 30px 0 10px 0;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid blue;
}

.detail__message{
  font-size: 25px;
  display: flex;
  justify-content: center;
}
