
footer {
  background: #2D3374;
  color: rgba(255,255,255,.8);
  padding: 3.5rem 1rem;
  text-align: center;
}

.footer-nav {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.footer-nav li {
  margin: 0 .75rem;
  list-style: none;
}

.footer-nav a {
  font-size: 20px;
  color: #d5d7e4;
  text-decoration: none;
}

.footer-nav a:hover {
  color: #fff;
}
