<footer>
    <div class="wrapper">
        <ul class="footer-nav">
            <li><%= link_to '部活登録', new_team_path %></li>
            <li><%= link_to '練習試合申し込み', new_game_path %></li>
            <li><%= link_to "募集一覧", games_path %></li>
            <li><a href="#">お問い合わせ</a></li>
        </ul>
    </div>
</footer>