.search-view{
  background-color: whitesmoke;
}

.search-wrapper{
  text-align: center;
}

.game-search-back{
  width: 10%;
  display: grid;
  font-size: 1.0rem;
  background-color: silver;
  color: #fff;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 10px 20px 10px 20px;
}

.btn-search-game{
  text-decoration: none;
  color: white;
  text-align: center;
}
.btn-search-game:hover{
  color: red;
}

.game-nil{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.games-name{
  font-size: 35px;
  
}