h1{
  text-align: center;
}
#messages{
  padding: 20px 10px 0px 10px;
  width: 50%;
  margin: 15px auto;
  text-align: right;
  font-size: 14px;
  background: #7da4cd;
}
.fukidasi {
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
  display: grid;
}

.fukidasi .user-school{
  float: left;
  width: 70px;
}

.fukidasi .chatting {
  width: 100%;
  text-align: left;
}
.says {
  display: inline-block;
  position: relative;
  margin: 0 0 0 50px;
  padding: 10px;
  max-width: 250px;
  border-radius: 12px;
  background: #edf1ee;
}
.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #edf1ee;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}
.says p {
  margin: 0;
  padding: 0;
}
.my-messages {
  margin: 10px 0;
}
.my-messages p {
  display: inline-block;
  position: relative;
  margin: 0 10px 0 0;
  padding: 8px;
  max-width: 250px;
  border-radius: 12px;
  background: #30e852;
  font-size: 15px;
}
.my-messages p:after {
  content: "";
  position: absolute;
  top: 3px;
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #30e852;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}
/************************************
** 送信フォーム
************************************/
.message-area{
  text-align:center;
  background-color: snow;
  margin-bottom: 15px;
  padding: 20px 10px 20px 10px;
}
.message-form{
  display: flex;
  justify-content: center;
}

.back-show-btn{
  width: 5%;
  display: grid;
  font-size: 1.0rem;
  background-color: silver;
  color: #fff;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  text-align: center;
}